---
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/zoom.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <script src="https://use.fontawesome.com/4c9066f1a6.js"></script>
  </head>
  <body>
    <div id="container">
      <!--------------- YOUR NAME OVER HERE -------------->
      <h2 class="header">{{ site.full_name }}</h2>
      <div id="gallery">
      </div>
    </div>
    <a href="https://github.com/andyzg/gallery"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <div class="footer">
      <div class="links">
        <a id="instagram" class="links__icon" href="https://www.instagram.com/{{ site.instagram }}">
          <span class="view-ig"> View {{ site.full_name }}'s Instagram </span>
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.2/lazyload.js"></script>
  <script src="js/transition.js"></script>
  <script src="js/zoom.min.js"></script>
  <script src="js/gallery.js"></script>
  <script>
    var COLUMNS = 'columns';
    var ROWS = 'rows';
    var SQUARES = 'squares';

    var columns = COLUMNS;
    var rows = ROWS;
    var squares = SQUARES;

    var layoutStyle = {{ site.layout_style }};

    var configuration = {
      spacing: {{ site.spacing }},
      shuffle: {{ site.shuffle }},
      columns: {{ site.columns }},
      maxHeight: {{ site.max_height }}
    };
  </script>
  <script src="js/script.js"></script>
  {% include ga.html %}
</html>
