body {
  font-family: 'Avenir Next', sans-serif;
}

#container {
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  font-size: 36px;
  margin-top: 124px;
  margin-bottom: 32px;
}

section {
  margin-bottom: 64px;
}
