body {
  font-family: 'Lora', 'Helvetica', 'Verdana', sans-serif;
}

#container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.header {
  font-size: 36px;
  font-weight: 700;
  margin-top: 124px;
  margin-bottom: 64px;
}

section {
  margin-bottom: 128px;
}

section img {
  vertical-align: middle;
}

h3 {
  font-size: 24px;
  margin-bottom: 36px;
  color: #666;
}
